---
import Layout from "../layouts/Layout.astro";
import AbilityCard from "../components/AbilityCard.astro";
---

<Layout title="Spellbook">
  <main>
    <div class="flex flex-wrap justify-center">
      <AbilityCard />
      <AbilityCard />
      <AbilityCard />
    </div>
  </main>
</Layout>
