---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Ability Arena Spellbook">
  <main>
    <h1>Open the <span class="">Spellbook!</span></h1>
    <ul role="list" class="">
      <Card
        href="/book"
        title="Spellbook"
        body="View all spells and examine all the little details"
      />
      <Card
        href="#"
        title="Gods"
        body="What does that one do again? Take a look at all the gods, their powers, and how to obtain them"
      />
      <Card
        href="#"
        title="Builds"
        body="What are the popular combos?"
      />
      <Card
        href="#"
        title="Feedback"
        body="Got an idea to make this site better? Submit it here!"
      />
    </ul>
  </main>
</Layout>
