---
import type { Ability } from "../types/Ability";
interface Props {
  ability: Ability;
}

const {ability} = Astro.props;
---
<div class="m-4 rounded-xl bg-dank-600 shadow-lg shadow-dank-900 max-w-lg flex flex-col">
  <div class="bg-blue-400 w-10 h-10 absolute m-2 hidden"></div>
  <header
    class="pl-20 rounded-t-xl bg-dank-500 p-3 
    text-slate-200 text-2xl font-bold uppercase"
  >
  {ability.name}
  </header>
  <div id="types" class="m-2 border-b-2 border-slate-500 py-2 text-slate-400">
    {ability.categories.map(catStr => <div>{catStr}</div>)}
  </div>
  <div id="desc" class="p-2 text-purple-200">
    {ability.description}
  </div>
  <div id="values" class="p-2">
    {ability.values.map(val => (
      <div>
        <span class="text-purple-400 uppercase">{val.split(':')[0]}:</span>
        <span>{val.split(':')[1]}</span>
      </div>)
    )}
    <div class="flex flex-wrap items-center space-x-6">
      {
        ability.cooldowns.length > 0 && (
    <div class="flex items-center py-2 space-x-1">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.75-13a.75.75 0 00-1.5 0v5c0 .414.336.75.75.75h4a.75.75 0 000-1.5h-3.25V5z" clip-rule="evenodd" />
    </svg>
    <span>{ability.cooldowns.slice(0, Math.min(ability.cooldowns.length, 3)).join(' / ')}</span>
    </div>)
      }
      {
        ability.manaCost.length > 0 && (
    <div class="flex items-center py-2 space-x-1">
    <div class="h-4 w-4 bg-blue-500 rounded-sm"></div>
    <span>{ability.manaCost.slice(0, Math.min(ability.manaCost.length, 3)).join(' / ')}</span>
    </div>)
      }
    </div>
  </div>
  <div id="super" class="p-2 mt-2 bg-dank-100">
    <span class="text-blue-500">Super:</span>
    <span class="text-purple-200">{ability.superUpgrade.split('Super: ')[1]}</span>
  </div>
  <div id="gaben" class="p-2 mb-4 bg-dank-300 ">
    <span class="text-orange-400">Gaben:</span>
    <span>{ability.gabenUpgrade.split('Gaben: ')[1]}</span>
  </div>
</div>
