<div class="m-4 rounded-xl bg-indigo-500">
  <header
    class="rounded-t-xl bg-indigo-900 p-3 text-2xl font-bold text-slate-200"
  >
    Spirit Lance
  </header>
  <div id="types" class="m-2 border-b-2 py-2 text-slate-400">
    <span class="uppercase">Ability:</span>
    <span>Unit Target</span>
  </div>
  <div id="desc" class="p-2">
    Sends a magical lance at an opponent, hitting them right in the ass.
  </div>
  <div id="values" class="p-2">
    <span class="uppercase">Illusion Damage Taken:</span>
    <span>400%/400%/400%</span>
  </div>
  <div id="super" class="p-2 bg-blue-500">
    <span>Super:</span>
    <span>Cooldown reduced by 4 seconds</span>
  </div>
  <div id="gaben" class="p-2 bg-orange-500 mb-4">
    <span>Gaben:</span>
    <span>Grants octerine core</span>
  </div>
</div>
