---
export interface Props {
  title: string;
  body: string;
  href: string;
  comingSoon?: boolean;
}

const { href, title, body, comingSoon = false } = Astro.props;
---

<a href={href}
  class="relative flex md:w-[40%] h-48 m-4 p-4 rounded-xl flex-grow group
  bg-dank-500 hover:bg-dank-300 shadow-md hover:shadow-lg hover:shadow-dank-600
  transition" >
  {
    comingSoon && (
      <div class="absolute bottom-0 right-0 bg-yellow-500 content-center text-black font-bold mr-8 mb-8 l-24 p-4 group-hover:animate-spin rounded-md group-hover:blur-[.5px]">
        Coming soon!
      </div>
    )
  }
  <div>
    <h2 class="text-2xl font-bold text-zinc-200 pb-4">
      {title}
    </h2>
    <p class="text-zinc-300 text-md">
      {body}
    </p>
  </div>
</a>
